.container {
    border-style: solid;
    border-color: var(--ddb-red);
    border-width: thick;
    border-radius: 10px;
    margin-bottom: 10px;
    position: relative;
    height: fit-content;
}

.container-body {
  background-color: var(--background);
  border-style: solid;
  border-radius: 10px;
  border-color: var(--background);
  border-width: thick;
}

h1 {
    font-weight: bold;
    padding: 5px;
    font-size: 18px;
    background-color: var(--ddb-red);
    color: white;
  }

  .description {
    padding: 5px;
    font-style:italic;
  }

  .container-item {
    margin: 5px;
    display: inline-flex;
    border-width: 1px;
    border-style: solid;
    border-color: var(--ddb-red);
    padding: 5px;
  }
  
  .modal-content {
    border-radius: 5px;
    margin-top: 3vh;
    position:relative;
    background-color: var(--background);
    max-width: 80vw;

    h1, p {
      padding: 10px
    }

    a { color: var(--link); }
    svg { display: inline;}
  }
