@tailwind base;
@tailwind components;
@tailwind utilities;

@media {
  :root {
    --ddb-red: rgb(124, 25, 17);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
    --link: var(--foreground);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --link: var(--foreground);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.footer {
  font-size: small;
  display: flex;
  justify-content: center;
  align-content: center;
  color: var(--foreground);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
